[include]
	path = ~/.gitconfig.local
[user]
	name = shinshio
	email = ao57paulow@gmail.com
[core]
	quotepath = false
	editor = vim
[alias]
	df = diff
	br = branch
    st = status
    cm = commit
    gr = log --pretty='format:%C(yellow)%h %C(green)%cd %C(reset)%s %C(red)%d %C(cyan)[%an]' --date=iso
    tofile = log --pretty='format:%h %cd %s [%an]' --date=iso --encoding=sijs
